{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>
    <link rel="stylesheet" href="{% static 'attendance/add_student.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Register New Student</h1>
        <form method="POST">
            {% csrf_token %} <input type="text" name="name" placeholder="Full Name" required>
            <input type="text" name="student_id" placeholder="Student ID" required>
            <input type="text" name="department" placeholder="Department" required>
            <button type="submit">Generate QR & Save</button>
        </form>
        <br>
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    </div>
</body>
</html>