@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.btn-transition {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-transition:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(19, 127, 236, 0.2);
}

.hero-image-container {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.feature-card {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card:hover {
  transform: translateY(-8px);
  border-color: #137fec;
  box-shadow: 0 20px 25px -5px rgba(19, 127, 236, 0.1);
}

.feature-card:hover .material-symbols-outlined {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

#reader-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
  z-index: 999999 !important;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#reader {
  width: 300px !important;
  height: 300px !important;
  border: 4px solid #137fec !important;
  border-radius: 20px;
  overflow: hidden;
  background: white;
}
